:{$PORT} {
    # ==========================================
    # 1. FRONTEND (La parte visual de WhaTicket)
    # ==========================================
    
    # Atrapa el HTML principal
    handle_path /chat* {
        reverse_proxy https://dynamic-simplicity-production-a986.up.railway.app {
            header_up Host {upstream_hostport}
        }
    }
    
    # Atrapa los colores, scripts y audios
    handle /assets/* {
        reverse_proxy https://dynamic-simplicity-production-a986.up.railway.app {
            header_up Host {upstream_hostport}
        }
    }

    # ==========================================
    # 2. BACKEND (El motor de WhaTicket)
    # ==========================================
    
    # El carril exclusivo para la API (Login, mensajes, etc)
    handle_path /wtapi* {
        reverse_proxy https://whaticket-community-production-d61c.up.railway.app {
            header_up Host {upstream_hostport}
        }
    }

    # El chat en tiempo real
    handle /socket.io/* {
        reverse_proxy https://whaticket-community-production-d61c.up.railway.app {
            header_up Host {upstream_hostport}
        }
    }

    # ==========================================
    # 3. CRM (Todo el resto del tráfico)
    # ==========================================
    handle /* {
        reverse_proxy https://espocrm-production-6061.up.railway.app {
            header_up Host {upstream_hostport}
        }
    }
}